/* Tag <a> link color */
label > em > a {
  color: #af290b;
}

span > a {
  color: #af290b;
}
/* End */

.required:after {
  color: #e32;
  content: " *";
  display: inline;
}

.main-class {
  margin-bottom: 30px;
  .card {
    border: 0;
  }
}




.label {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666666;
}

@media (max-width: 480px) {

  .main-class {
    margin-bottom: 30px;
    .card {
      border: 0;
      .card-body {
        padding-right: 0;
      }
    }
  }
}

.form-control {
  border-radius: 4px !important;
}
